<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Allershare</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="css/stylesheet.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="css/csspinner.css" type="text/css" media="screen"/>
        <script type="text/javascript" src="/scripts/lib/angular.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/angular-cookies.js"></script>
        <script type="text/javascript" src="/scripts/lib/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/application.js"></script>
    </head>
    <body ng-app="allershare">
        <div ng-view></div>
    </body>
</html>