<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>

<div id="middle">
    <div id="middle-left">
        <h2>FAQ</h2>
        <ul class="faqlist">
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li>
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li>
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li>
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li> 
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li>
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li> 
            <li class="q"><h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo ?</h4></li>
            <li class="a">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</li>
        </ul>
    </div>
    <div ng-include="'templates/signUp.html'"> </div>
    <div class="clear"></div>
</div>

<div ng-include="'templates/footer.html'"> </div>