<div id="top">
	<div id="topLeft">
        <div class="logo"><a href="/"><img src="images/logo.png" alt="logo" /></a></div>
    </div>
    <div id="topRight">
        <div id="topRightMenu">
            <div id="mainMenu">
                <ul class="menu">
                    <li class="active"><a href="/"><span>Home</span></a></li>
                    <li class="aboutusnav"><a href="#/facts"><span>Facts</span></a></li>
                    <li class="servicesnav"><a href="#/faq"><span>FAQ</span></a></li>
                    <li class="whyus"><a href="#/newsAlerts"><span>News Alerts</span></a></li>
                    <li class="contactus"><a href="#/contact"><span>Contact</span></a></li>
                </ul>
            </div>
        </div>
        <div id="topRightLogin">
            <div id="login" class="section" ng-controller="LoginController">
                <div ng-hide="isLoggedIn">
                    {{ statusMessage }}
                    <form class="Fields">
                      <ul>  
                        <li class="UserName">
                            <label for="username"></label>
                            <input id="username" class="Value" type="text" placeholder="Username" ng-model="username"/>
                        </li>
                        <li class="Password">
                            <label for="password"></label>
                            <input id="password" class="Value" type = "password" placeholder="Password" ng-model="password"/>
                        </li>
                        <li class="Login">
                          <input class="Login" type="button" value="Sign in" ng-click="login();"/>
                        </li>
                    </ul>
                    </form>
                </div>
                <div ng-show="isLoggedIn">
                    <div style="padding-top: 10px;">
                        <a href="#/account"> Account </a> |
                        <a href="#/profileListing"> Profiles </a> |
                        <a href='/' ng-click="logout();"> Logout </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>