<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>

<div id="middle">
    <div id="middle-left">
        <h2>How it works</h2>
        <p>Allershare is an online data sharing matrix that allows you to create & share your unique allergy and intolerance profile with other organisations.</p>
        <p>Creating a profile is simple, and linking to others can be done in an instant, so you can be confident that your specific requirements will be effectively managed.  In the event of a medical emergency, critical information such as medications to use and emergency contacts can also be made readily available to save the precious time that you may have.</p>
        <p>An instant messaging service is also available so that linked organisations can feedback comments to your personal account.  This can form a fundamental part of incident reporting when necessary.</p>
        <p>In addition to allergy data, food intolerances and dietary requirements can also be shared to give you the confidence that the organisations you are linked too are fully aware of your requirements at all times.</p>            
    </div>
    
    <div ng-include="'templates/signUp.html'"> </div>
    
    <div class="clear"></div>
</div>

<div id="allergies">
    <div class="respiratatory">
        <h3>Respiratatory Allergies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>

    <div class="skin">
        <h3>Skin Allergies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, </p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>

    <div class="food">
        <h3>Food Allergies And Intolerances</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, </p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>

    <div class="animal">
        <h3>Animal & Insect Allergies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, </p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>

    <div class="drug">
        <h3>Drug Allergies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, </p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>

    <div class="chemical">
        <h3>Chemical Allergies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies felis dictum mauris. Lorem ipsum dolor sit amet, </p>
        <a href="Allergies&intolerances.php" class="learn">Learn More</a>
    </div>
    
    <div class="clear"></div>
</div>

<div ng-include="'templates/footer.html'"> </div>