<div id="lower-header">
    <div id="lower-header-left">            
        <div id="slider">
            <img src="images/slider-1.png" />
        </div>
    </div>
    
    <div id="lower-header-right">
        <div class="main-text">
            <h2>Create your unique allergy profile using our simple online tool and share with whoever you want.</h2>
            <h2>Communication guaranteed.  Allershare.</h2>
        </div>
        <ul>
            <li><a href="#"><img src="images/create.png" /></a></li>
            <li><a href="#"><img src="images/share.png" alt="" /></a></li>
            <li><a href="#"><img src="images/receive.png" /></a></li>
        </ul>            
    </div>
    <div class="clear"></div>
</div>