<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>

<div id="middle">
    <div id="middle-left">
        <h2>News Alerts</h2>
        <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
    </div>
    
    <div ng-include="'templates/signUp.html'"> </div>
    <div class="clear"></div>
</div>

<div ng-include="'templates/footer.html'"> </div>