<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>
  
<div id="user_interface" ng-controller="ProfileListingController">
 <section class="register">
 <h2>Profile Listing</h2><br/><br/>

      <table width="100%" border="0">
        <tr>
          <td width="25%" style="text-align:left;"><h4>Allershare ID</h4></td>
          <td width="22%" style="text-align:left;"><h4>Profile Name</h4></td>
          <td width="35%" style="text-align:left;"><h4>Address</h4></td>
          <td width="9%">&nbsp;</td>
          <td width="9%"></td>
      </tr>
       <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr ng-repeat="profile in profiles">
          <td style="text-align:left;">{{ profile._id }}</td>
          <td style="text-align:left;">{{ profile.details.name }}</td>
          <td style="text-align:left;">{{ profile.details.address }}</td>
          <td> 
               <p class="submit">
               <a><input type="button" value="View" class="button1" ng-click="viewProfile(profile);"/></a></p></td>
               <td width="9%"><p class="submit">
               <a href=""><input type="button" value="Delete" class="button1" ng-click="deleteProfile(profile);"/></a></p>  
          </td>
      </tr>
    </table>

  <br/>
  <br/>
      <p class="submit">
          <a><input type="button" name="" value="Create a Profile" class="button" ng-click="createProfile()"/></a>
      </p>
     <div class="clear"></div>
  </section>
</div>

<div ng-include="'templates/footer.html'"> </div>